// ===== colors ======

$black: black;
$white: white;
$gray: #8c928c;
$dark-green: #002800;
$mintgreen: #78d8a9;
$lime: #00e100;
$purple: #8D6BF7;
$red: #EA594B;
$pink: #E94BB0;
$blue: #3f91f7;

// ===== fonts =====
$main-font: 'Source Sans Pro', sans-serif;